<!-- {% load static %} -->

<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <!-- Brand name or Logo -->

    <!-- <a class="navbar-brand text-light text-uppercase font-weight-bold" href="/">Afican Boutique</a> -->
    <a href="/" class="navbar-brand"><i class="fas fa-store text-warning fa-2x"></i></a>
    <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav" name="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
        <ul class="navbar-nav">
            <!-- Drop manu -->
            <li class="nav-item dropdown">
                <a class="nav-link active text-light text-uppercase font-weight-bold px-3 dropdown-toggle" href="" data-toggle="dropdown">All Categories</a>
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="{% url 'home' %}">All Products</a> {% for category in links %}
                    <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a> {% endfor %}

                    <!-- <a class="dropdown-item" href="">Women</a>
                    <a class="dropdown-item" href="">Sandals</a>
                    <a class="dropdown-item" href="">Jewerly & Bracelet</a>
                    <a class="dropdown-item" href="">Accessories</a> -->
                </div>
            </li>
            <!--End Drop manu -->
            <!-- <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="">Category</a></li> -->
            <li class="nav-item"><a class="nav-link active text-light text-uppercase font-weight-bold px-3" href="">Contact</a></li>
            <li class="nav-item"><a class="nav-link active text-light text-uppercase font-weight-bold px-3" href="">About</a></li>
            {% if item_count > 0 %}
            <li class="nav-item">
                <a class="nav-link active text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
                    <i class="fas fa-shopping-cart"></i>({{item_count}})
                </a>
                {% endif %}
            </li>
        </ul>
        <!-- Search Form -->
        <form class="form-inline ml-3">
            <div class="input-group">
                <input type="text" name="title" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- End Search Form -->
    </div>
</nav>